<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="Elapsus.Usms.Data.SqlServer.Properties.Settings.usmsConnectionString"
   connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=usms;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<startup/></configuration>
